@import "tailwindcss";
@plugin '@midudev/tailwind-animations';

@keyframes kenburns {
  from {
    transform: scale(1.15);
  }
  to {
    transform: scale(1);
  }
}

@layer utilities {
  .animate-kenburns {
      animation: kenburns 8s ease-in-out infinite alternate;
  }
}

