@import 'tailwindcss';
@plugin '@midudev/tailwind-animations';

@keyframes kenburns {
  from {
    transform: scale(1.15);
  }
  to {
    transform: scale(1);
  }
}

@layer utilities {
  .animate-kenburns {
    animation: kenburns 8s ease-in-out infinite alternate;
  }
}

header img {
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* Simple Reveal Effect */
[data-reveal] {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

[data-reveal].revealed {
  opacity: 1;
  transform: translateY(0);
}

@theme {
  --color-primary: #f46738;
}


@font-face{
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins-v24-latin-regular.woff2") format("woff2");
}

@font-face{
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/poppins-v24-latin-600.woff2") format("woff2");
}

@font-face{
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/poppins-v24-latin-700.woff2") format("woff2");
}