---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import Grua from "../../assets/images/image.webp";
export const prerender = false;
const canonical = "https://tenaxconstruction.com.do/contacto/[id]";
import WhatsApp from "../../assets/icons/social/whatsapp.svg";
import Email from "../../assets/icons/social/email.svg";
import Calendar from "../../assets/icons/calendar.svg";
---

<Layout canonical={canonical}>
    <section
        class="w-full max-w-6xl min-h-screen flex flex-col justify-center items-center mt-20 mx-auto"
    >
        <Image
            src={Grua}
            alt="Grua"
            class="w-[400px] md:w-[800px] h-auto mt-20 md:mt-0"
        />

        <div class="mt-12 grid grid-cols-1 md:grid-cols-3 gap-6 text-center">
            <div
                class="flex flex-col justify-center items-center bg-white p-6 rounded-lg shadow"
            >
                <h3 class="font-semibold text-lg text-black/75 mb-2">
                    Llámanos
                </h3>

                <p class="text-black/60">+1 (809) 898-6028</p>
                <a
                    class="mt-2"
                    href="https://wa.me/18098986028"
                    target="_blank"
                    rel="noopener noreferrer"
                    title="Contáctanos por WhatsApp"
                    aria-label="Contáctanos por WhatsApp"
                >
                    <WhatsApp class="size-10" />
                </a>
            </div>
            <div
                class="flex flex-col justify-center items-center bg-white p-6 rounded-lg shadow"
            >
                <h3 class="font-semibold text-lg text-black/75 mb-2">Email</h3>
                <p class="text-black/60">proyectos@tenax.com.do</p>
                <a
                    class="mt-2"
                    href="mailto:proyectos@tenax.com.do"
                    title="Envíanos un correo electrónico"
                    aria-label="Envíanos un correo electrónico"
                >
                    <Email class="size-12" />
                </a>
            </div>
            <div
                class="flex flex-col justify-center items-center bg-white p-6 rounded-lg shadow"
            >
                <h3 class="font-semibold text-lg text-black/75 mb-2">
                    Horario
                </h3>
                <p class="text-black/60">Lun - Vie: 8:00 AM - 5:00 PM</p>
                <Calendar class="size-10 mt-2" />
            </div>
        </div>
        <div class="flex flex-col justify-center items-center mt-20">
            <a class="px-4 py-3 bg-primary rounded text-white" href="/"
                >← Volver al inicio</a
            >
        </div>
    </section>
</Layout>
