---
import Banner from '../components/Banner.astro'
import About from '../components/About.astro'
import Layout from '../layouts/Layout.astro'
import OurServices from '../components/OurServices.astro'
import Numbers from '../components/Numbers.astro'
import Projects from '../components/Projects.astro'
import News from '../components/News.astro'

const canonical = 'https://tenaxconstruction.com.do'
export const prerender = true
---

<Layout canonical={canonical}>
  <div id="inicio">
    <Banner />
  </div>
  <div id="nosotros">
    <About />
  </div>
  <div id="proyectos">
    <Projects />
  </div>
  <div id="servicios">
    <OurServices />
  </div>
  <Numbers />
  <div id="noticias">
    <News />
  </div>
</Layout>
