<div class="space-y-10">
    <p class="text-white/75 mt-5 leading-relaxed text-sm md:text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
        laudantium! Distinctio explicabo dolor impedit atque perferendis
        reiciendis fuga doloremque at vel provident commodi enim quam ut ad,
        totam esse possimus? Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Sit ducimus, voluptas facere, rerum enim iste ipsa nam quis
        nostrum, libero alias rem sunt blanditiis? Aspernatur fugit excepturi
        voluptates obcaecati illo! Lorem ipsum dolor sit, amet consectetur
        adipisicing elit.
    </p>
    <p class="text-white/75 mt-5 leading-relaxed text-sm md:text-lg">
        Eveniet nobis ad nemo quibusdam molestiae. Non provident molestiae saepe
        veritatis nemo laboriosam. Suscipit, at molestiae? Laudantium itaque
        repellendus nulla provident. Ipsam? lorem ipsum dolor sit amet
        consectetur adipisicing elit. Doloribus Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Quidem vitae cupiditate veniam asperiores
        soluta magnam, perferendis neque odio in minus doloribus quaerat,
        adipisci tempora ea fugit nam amet, magni deleniti! Lorem ipsum dolor
        sit, amet consectetur adipisicing elit. Tenetur nostrum doloremque iste
        enim fugit earum voluptas quo eos? Ea ratione assumenda quae provident
        magni quo impedit, dignissimos laudantium vitae quis?
    </p>

    <p class="text-white/75 mt-5 leading-relaxed text-sm md:text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        reprehenderit, voluptatibus, cumque, asperiores sed quisquam magnam
        voluptates incidunt enim doloremque. Quisquam, cumque. Doloribus
        exercitationem voluptatum cumque, nobis sapiente? Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Doloribus reprehenderit,
        voluptatibus, cumque, asperiores sed quisquam magnam voluptates incidunt
        enim doloremque. Quisquam, cumque. Doloribus exercitationem voluptatum
        cumque, nobis sapiente?
    </p>
    <p class="text-white/75 mt-5 leading-relaxed text-sm md:text-lg">
        <strong>Conclusión:</strong> Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Eveniet nobis ad nemo quibusdam molestiae. Non provident molestiae
        saepe veritatis nemo laboriosam. Suscipit, at molestiae? Laudantium itaque
        repellendus nulla provident. Ipsam? lorem ipsum dolor sit amet consectetur
        adipisicing elit. Doloribus Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Quidem vitae cupiditate veniam asperiores soluta magnam, perferendis
        neque odio in minus doloribus quaerat, adipisci tempora ea fugit nam amet,
        magni deleniti! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Tenetur nostrum doloremque iste enim fugit earum voluptas quo eos? Ea ratione
        assumenda quae provident magni quo impedit, dignissimos laudantium vitae
        quis?
    </p>
</div>
