---
import { Image } from "astro:assets";
import CEO_Profile from "../assets/images/ceo_profile.webp";
---

<section class="w-full min-h-screen flex justify-center items-center mt-20">
    <div class="relative flex flex-col md:flex-row justify-center items-center">
        <Image
            src={CEO_Profile}
            loading={"lazy"}
            class="w-full md:w-[900px] h-auto object-cover shadow-2xl -translate-x-40"
            alt="CEO Tenax Construction SRL"
        />
        <div
            class="absolute top-0 translate-x-96 w-[500px] h-full flex flex-col justify-center items-start mt-10 mx-10 bg-white/90 backdrop-blur-lg rounded-lg p-10 shadow-lg"
        >
            <header class="text-3xl md:text-4xl font-semibold text-black/75">
                En Tenax Construction
            </header>
            <p class="text-black/75 mt-5 leading-relaxed text-sm md:text-base">
                Brindamos soluciones innovadoras y de alta calidad en el sector
                de la construcción, adaptándonos a las necesidades de nuestros
                clientes y contribuyendo al desarrollo sostenible de la
                República Dominicana. <br />
                <br />Contamos con equipos especializados y maquinaria pesada de
                última tecnología para realizar proyectos con eficiencia y
                precisión.
            </p>
            <div class="mt-10">
                <a
                    class="px-5 py-3 rounded bg-[#F46738] text-white hover:bg-[#e35d2c] transition-transform duration-300 animate-range-exit animate-duration-700"
                    href="/historia/id"
                    title="Conocer más detalles sobre nuestra empresa y servicios"
                    aria-label="Conocer más detalles sobre nuestra empresa y servicios"
                    >Conoce Nuestra Historia</a
                >
            </div>
        </div>
    </div>
</section>
