<div class="flex justify-center items-center w-full h-screen mt-36">
    <div class="absolute z-10 overflow-hidden -rotate-2">
        <img class="w-[570px] rounded-2xl" src="/banner1.webp" alt="Testing" />
    </div>
    <div class="bg-[#00B7C3] opacity-15 w-[870px] h-[682px] rounded-2xl"></div>
</div>
