---
import NextButton from "/icons/send-button.svg";
---

<div class="w-full h-auto flex flex-row items-start px-36 mt-20 gap-x-16 mb-10">
    <div class="flex flex-col">
        <span class="text-black text-sm font-semibold uppercase">Producto</span>
        <div class="flex flex-col py-6">
            <ul class="text-black flex flex-col gap-y-2">
                <li>
                    <a class="transition-transform duration-300" href="/">
                        Employee database
                    </a>
                </li>
                <li>
                    <a class="transition-transform duration-300" href="/">
                        Payroll
                    </a>
                </li>
                <li>
                    <a class="transition-transform duration-300" href="/">
                        Absences
                    </a>
                </li>
                <li>
                    <a class="transition-transform duration-300" href="/">
                        Time tracking
                    </a>
                </li>
                <li>
                    <a class="transition-transform duration-300" href="/">
                        Shift planner
                    </a>
                </li>
                <li>
                    <a class="transition-transform duration-300" href="/">
                        Recruiting
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col">
        <span class="text-black text-sm font-semibold uppercase">
            Information
        </span>
        <div class="flex flex-col py-6">
            <ul class="text-black flex flex-col gap-y-2">
                <li>
                    <a class="transition-transform duration-300" href="/">
                        FAQ
                    </a>
                </li>
                <li>
                    <a class="transition-transform duration-300" href="/">
                        Blog
                    </a>
                </li>
                <li>
                    <a class="transition-transform duration-300" href="/">
                        Support
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col translate-x-32">
        <span class="text-black text-sm font-semibold uppercase">Company</span>
        <div class="flex flex-col py-6">
            <ul class="text-black flex flex-col gap-y-2">
                <li>
                    <a class="transition-transform duration-300" href="/">
                        About us
                    </a>
                </li>
                <li>
                    <a class="transition-transform duration-300" href="/">
                        Careers
                    </a>
                </li>
                <li>
                    <a class="transition-transform duration-300" href="/">
                        Contact us
                    </a>
                </li>
                <li>
                    <a class="transition-transform duration-300" href="/">
                        Lift Media
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div
        class="w-[642px] h-auto flex flex-col translate-x-32 p-10 bg-[#FEC00F]/25"
    >
        <header class="text-black font-semibold mt-16">Subscribe</header>
        <div class="mt-6 flex flex-row">
            <input
                type="email"
                placeholder="Enter your email"
                class="w-full p-3 border border-gray-300 rounded text-black bg-white"
            />
            <button class="mt-2 w-full">
                <NextButton />
            </button>
        </div>
        <div class="mt-6 text-black text-sm">
            <h1>Stay in the loop with our newsletter!</h1>
            <p class="mt-10 leading-7">
                Subscribe to our newsletter and unlock a world of exclusive
                benefits. Be the first to know about our latest products,
                special promotions, and exciting updates. Join our community of
                like-minded individuals who share a passion for [your
                niche/industry].
            </p>
        </div>
    </div>
</div>; ---
