<div class="w-full h-screen mt-20 relative overflow-hidden">
    <div class="absolute inset-0 bg-black opacity-90 z-[9999px]"></div>

    <div class="absolute inset-0 flex items-center justify-center z-10 m-auto">
        <div class="text-center text-white">
            <h1 class="text-4xl md:text-6xl font-bold mb-4">
                Bienvenido a Nuestra Empresa
            </h1>
        </div>
    </div>

    <video
        class="w-full
                h-screen
                object-cover
                opacity-90"
        src="/video.webm"
        autoplay
        loop
        muted
    >
    </video>
</div>
