<div class="w-full h-screen mt-20">
    <div class="flex justify-center items-center flex-col">
        <h1 class="relative text-4xl font-semibold text-black/75">
            Nuestros Servicios
            <span
                class="absolute top-12 left-0 bottom-0 w-full h-0.5 bg-[#F46738] scale-x-100 origin-left"
            ></span>
        </h1>
    </div>
</div>
