---
import type { GetStaticPaths } from "astro";

import Layout from "../../layouts/Layout.astro";
import { PROJECTS_IMAGES } from "../../components/consts/Images";

const { id } = Astro.params;
if (!id) return Astro.redirect("/404");

const project = PROJECTS_IMAGES.find((project) => project.id === id);
if (!project) return Astro.redirect("/404");

export const getStaticPaths = (() => {
    return PROJECTS_IMAGES.map((project) => ({
        params: { id: project.id },
    }));
}) satisfies GetStaticPaths;

export const prerender = true;
---

<Layout>
    <section
        class="w-full min-h-screen flex flex-col md:flex-row justify-center items-center bg-[url('/about-bg.webp')] bg-cover bg-center bg-no-repeat mx-auto"
    >
        <div class="flex flex-col md:flex-row justify-center items-center">
            <img
                transition:name={`image-${id}`}
                data-id={id}
                src={`/projects/${id}.webp`}
                alt={project?.alt}
                class="object-cover rounded-lg w-[400px] md:w-[800px]"
                loading="lazy"
            />

            <div
                class="w-[400px] md:w-[800px] h-full flex flex-col justify-center items-start mt-10 mx-10 backdrop-blur-md bg-white/10 border border-white/20 rounded-lg p-10 shadow-lg"
            >
                <p
                    class="text-white/75 mt-5 leading-relaxed text-sm md:text-lg"
                >
                    {
                        project?.description ||
                            "Descripción no disponible para este proyecto."
                    }
                </p>
            </div>
        </div>
    </section>
</Layout>
